body {
	padding-top: 50px;
}
#top-menu, #workspace {
	margin: 0 15px;
}
#top-search-wrap {
	padding-left: 0;
}
#top-search-wrap div {
	top: -3px;
}
#top-search-wrap input {
	width: 150px;
}
#workspace-wrapper {
	margin-top: 0;
}
#workbench {
	margin-top: 20px;
}
#workbench .tile-group-title {
	color: #000000;
}
#desktop iframe.frame-desktop {
	border: none;
	width: 100%;
	overflow: visible;
}
