body {
    padding: 40px 0 35px 0;    
}
#navbar .dropdown-menu .divider {
    margin: 2px 1px;
}
#crumb .container-fluid {
    padding-left: 120px;
    background: transparent url('../images/logo.png') no-repeat 20px 4px;
}
.breadcrumb {
    margin-bottom: 5px;
}
#crumb .container-fluid, #container .container-fluid{
	padding-right: 35px;
}
#container {
    font-size: 12px;
}
#container-wrap{
    padding-left: 185px;
}
#sidebar{
    float: left;
    width: 165px;
    margin-left: -185px;
}
#sidebar .nav-tabs{
    width: 165px;
}
#sidebar .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.nav-kissgo > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 3px 14px;
}

.nav-kissgo > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 3px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.nav-kissgo > .active > a, .nav-kissgo > .active > a:hover {
    background-color: #0088CC;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
#sidebar .active .icon-chevron-right{
    opacity: 1;
}

#sideTools {
	font-size:12px;
    position: fixed;
    right: -52px;
    bottom: 50px;
    width: 86px;
    z-index: 10010;
}
#sideTools p {
    margin: 5px 0 0;
}
#sideTools p a {
    background: none repeat scroll 0 0 #AEB2BD;
    cursor: pointer;
    display: block;
    height: 36px;
    overflow: hidden;
    text-decoration: none;
    width: 86px;
}
#sideTools p a:link, #sideTools p a:visited {
    background: none repeat scroll 0 0 #AEB2BD;
}
#sideTools p a:hover {
    background: none repeat scroll 0 0 #676767;
    text-decoration: none;
}
#sideTools p a:active {
    background: none repeat scroll 0 0 #676767;
}
#sideTools p a s {
    background: url("../images/sidetool.png") repeat scroll 0 -1px transparent;
    display: inline-block;
    float: left;
    height: 36px;
    vertical-align: middle;
    width: 34px;
}
#sideTools p a span {
    color: #FFFFFF;
    display: inline-block;
    float: left;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    width: 50px;
}
#sideTools p.miniNav a s {
    background-position: 0 -1px;
}
#sideTools p.miniNav a.on {
    background: none repeat scroll 0 0 #676767;
}
#sideTools p.miniNav a:hover s {
    background-position: -160px -1px;
}
#sideTools p.miniNav a.on s {
    background-position: -160px -1px;
}
#sideTools p.iToTop a s {
    background-position: -120px -1px;
}
#sideTools p.iToTop a:hover s {
    background-position: -280px -1px;
}
#sideTools p.iToTop a span {
    text-align: center;
}
#sideTools .stMore {
    background: none repeat scroll 0 0 #676767;
    border-top: 1px solid #585858;    
    overflow: hidden;
    width: 86px;
    display:none;
}
#sideTools .stMore dl {
    padding-bottom: 0;
    margin: 0;
}
#sideTools .stMore dl dt {
    color: #FD741C;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}
#sideTools .stMore dl dt s {
    background: url("../images/sidetool.png") repeat scroll -320px 0px transparent;
    display: inline-block;
    height: 16px;
    margin: 0 2px 0 10px;
    vertical-align: middle;
    width: 20px;
}
#sideTools .stMore dl.side01 {
    border-top: 1px solid #7E7E7E;
}

#sideTools .stMore dl dd {
    margin-left: 16px;
}
#sideTools .stMore dl dd a {
    color: #FFFFFF;
    display: block;
    margin-bottom: 2px;
}
#sideTools .stMoreClose {
    background: none repeat scroll 0 0 #676767;
    display: none;
    height: 16px;
    width: 86px;
}
#sideTools .stMoreClose a {
    border-top: 1px solid #7E7E7E;
    cursor: pointer;
    display: block;
    height: 14px;
    text-decoration: none;
    width: 86px;
}
#sideTools .stMoreClose a i {
    background: url("../images/sidetool.png") repeat scroll -320px -20px transparent;
    display: inline-block;
    height: 14px;
    margin-left: 36px;
    width: 14px;
}

#foot {
    background: none repeat scroll 0 0 #EDEDED;
    border-top: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -15px 15px rgba(255, 255, 255, 0.6);
    color: #999999;
    padding: 2px 10px 4px;
}

#foot .btn-toolbar, #foot p {
    margin: 0;
}

#foot .btn-toolbar, #foot .btn-group {
    font-size: 12px;
    line-height: 14px;
}

#foot a {
    color: #999999;
}
#foot a:hover{
    color: #0088CC;
}