.ico-edit { background-image: url(icons/edit.png); }
.ico-del { background-image: url(icons/del.png); }
.ico-reply { background-image: url(icons/reply.png); }
.ico-spam { background-image: url(icons/spam.png); }
.ico-unspam{ background-image: url(icons/unspam.png); }
.ico-trash{ background-image: url(icons/trash.png); }
.ico-restore{ background-image: url(icons/undo.png); }
.ico-approve{ background-image: url(icons/approve.png); }
.ico-reject{ background-image: url(icons/undo.png); }